.wrapper {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 60px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.left_first {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  font-size: 0.6875rem;
  color: #696969;
  text-decoration: underline;
  cursor: pointer;
}

.left_second {
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  gap: 6px;
  color: #696969;
}

.left_third {
  display: flex;
  gap: 6px;
  font-weight: 400;
  font-size: 0.75rem;
  color: #c2c2c2;
}

.line {
  width: inherit;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.inner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-weight: 400;
  text-align: end;
  line-height: 0.875rem;
  color: #b9b9b9;
}
