.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
}

.contents_wrapper {
    display: flex;
    width: 400px;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
}